
@{ // ************ RAZOR code (C# code ) here we can added any C# code 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> id : @ViewBag.Id</p>
    <p> a : @ViewBag.A</p>
    <p> b : @ViewBag.B</p>
</div>
